@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", Helvetica, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
  --white: #efefef;
  --gray: #666666;
  --dark: #1f2937;
  --darker: #111827;
  --blue: #0099dd;
  --green: #00ff88;
  --red: #d2335c;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--darker);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  max-width: 450px;
  max-height: 600px;
  background-color: var(--dark);
  padding: 30px 20px 20px 30px;
  border-radius: 15px;
  box-shadow: 20px 20px 60px #0e1421, -20px -20px 60px #141c2d;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#formConfirm h1 {
  font-size: 1.5rem;
}

#formConfirm p {
  font-size: 0.9rem;
  text-align: left;
}

h1 {
  font-size: 1.6rem;
  font-weight: 400;
}

#error {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  background-color: var(--red);
  border-radius: 8px;
  margin-top: 8px;
  color: var(--white);
  word-wrap: break-word;
  animation: errorAnimation 0.2s ease-out;
}

.input-group {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin-top: 8px;
}

.input-group i {
  position: absolute;
  right: 10px;
  top: 31px;
  color: var(--white);
  font-size: 1.3rem;
  cursor: pointer;
  margin: 5px;
}

.input-group label {
  color: var(--white);
  padding: 5px 5px 5px 0;
  width: 100%;
  font-size: 1.1rem;
}

.input-group .error-input {
  width: 100%;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  color: var(--red);
  word-wrap: break-word;
  animation: errorInputAnimation 0.5s ease-out;
}

.error-input-persistent {
  animation: errorPersistentAnimation 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97)
    both !important;
}

.input-group .input-text {
  caret-color: var(--blue);
  height: 30px;
  border: none;
  border-bottom: 2px solid var(--blue);
  background: none;
  color: var(--white);
  outline: none;
  width: 100%;
  font-size: 16px;
  transition: 0.4s;
}

.input-group .input-text::placeholder {
  --gray: #9b9b9b8c;
  color: var(--gray);
  font-size: 0.8rem;
}

#sub {
  border: none;
  height: 40px;
  width: 100%;
  margin-top: 15px;
  font-size: 1.4rem;
  border-radius: 8px;
  background-color: var(--blue);
  color: var(--darker);
  transition: 0.1s;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #009bdda8;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sub:hover {
  --blue: #009bdd6b;
  letter-spacing: 1px;
}

p {
  margin-top: 10px;
  text-align: center;
}

a {
  color: var(--blue);
  text-decoration: none;
  font-size: 1.1rem;
}

a:hover {
  text-decoration: underline;
}

#load {
  animation: rotating 1s infinite;
  border: 5px solid var(--white);
  border-radius: 50%;
  border-top-color: var(--dark);
  height: 25px;
  width: 25px;
}

.mini-load {
  animation: rotating 1s infinite;
  border: 3px solid var(--white);
  border-radius: 50%;
  border-top-color: var(--dark);
  height: 13px;
  width: 13px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.oculto {
  display: none !important;
}

.container-confirm {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-confirm .box-confirm {
  background-color: var(--dark);
  padding: 10px 15px 20px 15px;
  margin-top: 0px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
}

.container-confirm .box-confirm #p {
  font-size: 1.1rem;
}

.container-confirm .box-confirm .box-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.container-confirm .box-confirm .box-buttons #btn-give-up {
  height: 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--white);
  text-decoration: none;
  background-color: var(--blue);
  padding: 4px 10px;
  border-radius: 5px;
  font-size: 1.1rem;
  transition: 0.2s;
}

.container-confirm .box-confirm .box-buttons #btn-give-up:hover {
  --blue:#009bdd81;
}

.container-confirm .box-confirm .box-buttons #btn-confirm {
  height: 30px;
  border: none;
  color: var(--white);
  text-decoration: none;
  background-color: var(--red);
  padding: 4px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: 0.2s;
}

.container-confirm .box-confirm .box-buttons #btn-confirm:hover {
  --red: #d2335b80;
}

.container-confirm .box-confirm .box-buttons #btn-confirm #load {
  width: 20px;
  height: 20px;
}

/* ANIMAÇÕES */

@keyframes errorAnimation {
  0% {
    min-height: 0px;
    font-size: 0rem;
  }

  100% {
    min-height: 40px;
  }
}

@keyframes errorInputAnimation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes errorPersistentAnimation {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes rotating {
  to {
    transform: rotate(1turn);
  }
}

/* CONFIGURAÇÃO PARA DISPOSITIVOS MENORES */

@media screen and (max-width: 600px) {
  form {
    width: 90%;
  }
  .input-group label {
    font-size: 0.9rem;
  }
  .input-group #file-text {
    font-size: 0.8rem;
  }
  a {
    font-size: 0.9rem;
  }
  .container-confirm .box-confirm {
    width: 80%;
  }
}
