@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  @apply h-full w-full bg-gray-200 dark:bg-slate-900 transition-all;
}

::-webkit-scrollbar{
  @apply bg-transparent w-1;
}

::-webkit-scrollbar-thumb{
  @apply bg-sky-500 rounded-sm;
}